.soon-font-serif {
  font-family: 'Playfair Display Variable', serif;
}

.soon-font-block {
  font-family: 'Archivo Black', sans-serif;
}

.soon-font-sans {
  font-family: 'Inter Variable', sans-serif;
}

